@charset "UTF-8";

body {
    background: #eee;
    color: #333;
    font: 1em 'helvetica', 'arial', sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

main {
    height: calc(100vh - 44px);
    overflow: scroll;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    border-bottom: 1px solid #999;
    cursor: pointer;
    padding: 0.5em;
}

#about, #content, #options, #profile {
    background: #fff;
    padding: 1em;
}

#editContainer {
    height: 100%;
    width: 100%;

    position: relative;
}

#editTextarea {
    border: none;
    box-sizing: border-box;
    font: inherit;
    height: inherit;
    outline: none;
    padding: 1em;
    width: inherit;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

#header {
    background: #f76;
    border-bottom: 1px solid #c33;
    color: #fff;
    height: 42px;
    margin: 0 auto;
    max-width: 960px;
    padding: 1px;
}

#header h1 {
    font-size: 1.2em;
    text-align: center;
}

#leftBarButton, #rightBarButton {
    border: none;
    height: 44px;
    margin: 0;
    outline: none;
    padding: 0;
    transition: background-color 0.5s;
    width: 42px;
}

#leftBarButton:active, #rightBarButton:active {
    background-color: #c43;
}

#leftBarButton {
    background: url('images/ic_menu_white_24px.svg') no-repeat center center;
    float: left;
}

#loader {
    background: url('images/ic_loading_48px.svg') no-repeat center center;
    height: 64px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 64px;
}

#mainSection {
    height: 100%;
    margin: 0 auto;
    max-width: 960px;
    position: relative;
}

#menuContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}

#menuHome, #menuView {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 200px;
}

#menuHome {
    background: #333;
    height: 100%;
    top: 44px;
}

#menuHome li, #menuView li {
    margin: 0;
    padding: 0;
}

#menuHome a, #menuView a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    transition: background-color 0.5s;
}

#menuHome a {
    background: #333;
}

#menuHome a:active {
    background: #666;
}

#menuView a {
    background: #f76;
}

#menuView a:active {
    background: #c43;
}

#rightBarButton {
    background: url('images/ic_add_white_24px.svg') no-repeat center center;
    float: right;
}

.collectionItem {
    box-sizing: border-box;
    background: #fff;
    cursor: pointer;
    display: inline-block;
    height: 160px;
    margin: 4px;
    overflow: hidden;
    padding: 8px;
    text-overflow: ellipsis;
    transition: background-color 0.5s;
    user-select: none;
    width: calc(50% - 8px);
    white-space: pre-line;
}

.collectionItem:active {
    background: #eee;
}

@media only print {
    #header {
        display: none;
    }
}

@media only screen and (min-width: 400px) {
    .collectionItem {
        width: calc(33% - 8px);
    }
}

@media only screen and (min-width: 600px) {
    .collectionItem {
        width: calc(25% - 8px);
    }
}

@media only screen and (min-width: 800px) {
    .collectionItem {
        width: calc(20% - 8px);
    }
}
